b {
    color: rgb(255, 255, 255);
    font-family: "Arial";
    font-size: 24px;
    z-index: 10;
}

#loseredsBooksona {
    position: fixed;
    top: 220px;
    left: 20px;
}

#guyfieri {
    position: fixed;
    top: 220px;
    left: 300px;
}

#mikaylaCollie {
    position: fixed;
    top: 400px;
    left: 100px;
}