.topText {
    position: absolute;
    z-index: 1;

    color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px 10px #0000007F);
    font-family: "Arial";
    font-size: 24px;
    z-index: 10;
}

/* surely theres a better way to do this :clueless: (im too lazy to make it better lmao) */

#loseredsBooksona {
    position: fixed;
    top: 220px;
    left: 20px;
}

#guyfieri {
    position: fixed;
    top: 220px;
    left: 300px;
}

#mikaylaCollie {
    position: fixed;
    top: 400px;
    left: 100px;
}

#jacket {
    position: fixed;
    top: 320px;
    left: 550px;
}

#sillyCat {
    position: fixed;
    top: 620px;
    left: 50px;
}

#catCigar {
    position: fixed;
    top: 650px;
    left: 280px;
}

#jetLaggers {
    position: fixed;
    top: 260px;
    left: 780px;
}